@import "tailwindcss" important;

@theme {
  /* Custom colors */
  --color-primary-50: #f6f6f9;
  --color-primary-100: #ececf2;
  --color-primary-200: #d5d6e2;
  --color-primary-300: #b0b2c9;
  --color-primary-400: #8689aa;
  --color-primary-500: #676a90;
  --color-primary-600: #525577;
  --color-primary-700: #434461;
  --color-primary-800: #3a3c52;
  --color-primary-900: #343446;
  --color-primary-950: #16161e;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #fb464c;
  --color-red-600: #e63946;
  --color-red-700: #c92a2a;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --color-green-50: #f3faeb;
  --color-green-100: #e6f3d4;
  --color-green-200: #cee9ad;
  --color-green-300: #aed97d;
  --color-green-400: #9ece6a;
  --color-green-500: #71ac36;
  --color-green-600: #568927;
  --color-green-700: #436922;
  --color-green-800: #385420;
  --color-green-900: #31481f;
  --color-green-950: #17270c;

  --color-theme-accent: #9ece6a;
  --color-theme-accent-hover: color-mix(
    in srgb,
    var(--color-theme-accent) 80%,
    white
  );
  --color-theme-accent-disabled: color-mix(
    in srgb,
    var(--color-theme-accent) 80%,
    black
  );

  --color-theme-contrast: #bb9af7;
  --color-theme-contrast-hover: color-mix(
    in srgb,
    var(--color-theme-contrast) 80%,
    white
  );
  --color-theme-contrast-disabled: color-mix(
    in srgb,
    var(--color-theme-contrast) 80%,
    black
  );

  --color-contrast-50: #f6f3ff;
  --color-contrast-100: #efeafd;
  --color-contrast-200: #e2d7fd;
  --color-contrast-300: #ccb8fa;
  --color-contrast-400: #bb9af7;
  --color-contrast-500: #9c61f1;
  --color-contrast-600: #8f40e7;
  --color-contrast-700: #7f2ed3;
  --color-contrast-800: #6a26b1;
  --color-contrast-900: #582191;
  --color-contrast-950: #371362;

  /* Custom font sizes */
  --text-2xs: 0.5rem;
  --text-xs: 0.6rem;
  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.5rem;

  /* Custom spacing */
  --spacing-18: 4.5rem;
  --spacing-128: 32rem;

  /* Custom breakpoints */
  --breakpoint-3xl: 1900px;
}

.markdown-rendered p {
  margin-block-start: unset;
  margin-block-end: unset;
  unicode-bidi: unset;
}

dialog.pc-dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    var(--color-primary-950),
    var(--color-primary-700),
    var(--color-primary-400),
    var(--color-primary-200)
  );
  opacity: 0.8;
}

/* Hide outline and edit button in datacore blocks */
.cm-lang-datacorejsx {
  box-shadow: none !important;
  .edit-block-button {
    display: none !important;
  }
}

@layer utilities {
  .grid-cols-auto-4 {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .grid-cols-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
  }

  /* Animated background for ongoing tasks */
  .ongoing-task {
    position: relative;
    overflow: hidden;
    background-color: color-mix(
      in srgb,
      var(--color-green) 10%,
      var(--color-base-05)
    );
  }

  .ongoing-task::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transform: skewX(-35deg);
    background: linear-gradient(
      90deg,
      transparent,
      color-mix(in srgb, var(--color-green) 20%, transparent),
      transparent
    );
    animation: shimmer 3s linear infinite;
  }

  @keyframes shimmer {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
}

/* Components */
@layer components {
  .pc-link a {
    text-decoration: none !important;
    font-weight: inherit !important;
    font-size: inherit !important;
    letter-spacing: 0.15rem;
    color: inherit !important;
  }

  .view-content img.pc-image {
    max-width: unset !important;
    outline: inherit !important;
  }
}
